@font-face {
    font-family: 'nobileregular';
    src: url('nobile-regular-webfont.woff2') format('woff2'),
         url('nobile-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #e6e5f3;

}

#Logo {
    width: 280.2px;
    height: 296.6px;
    border: 3px solid black;
    position: absolute;
    float: left;
    padding: 2px 2px;
    margin-top: 40px;
    margin-left: 60px;


}

#name {
    width: 850px;
    height: 102.7px;
    position: absolute;
    float: left;
    font-size: 70px;
    font-family: 'nobile';
    padding: 0px 5px;
    background: white;
    text-align: center;
    border: 3px solid black;
    left: 550px;
    line-height: 115px;
    top: 75px;

}

#about {
    width: 248.4px;
    height: 73.1px;
    font-size: 75px;
    font-family: 'nobile';
    padding: 2px 2px;
    margin-top: 120px;
    margin-left: 280px;

}
.info {
    width: 484.7px;
    height: 356px;
    font-size: 29px;
    font-family: 'nobile';
    padding: 2px 2px;
    border: 3px solid black;
    background-color: white;
    position: absolute;
    float: left;
    left: 700px;
    top: 350px;

}

#portfolio {
    width: 248.4px;
    height: 73.1px;
    font-size: 75px;
    font-family: 'nobile';
    padding: 2px 2px;
    margin-top: 450px;
    margin-left: 210px;

}

#portfolioB {
    width: 395px;
    height: 486px;
    border: 3px solid black;
    background-color: white;
    position: absolute;
    float: left;
    left: 750px;
}

#portfolioS {
    width: 313.5;
    height: 385px;
    border: 3px solid black;
    background-color: white;
    position: absolute;
    float: right;
    right: 450px;
    top: 400px;

}

#portfolioB2 {
    width: 395px;
    height: 486px;
    border: 3px solid black;
    background-color: white;
    position: absolute;
    float: left;
    left: 370px;
    top: 150px;
}

#portfolioS2 {
    width: 313.5;
    height: 385px;
    border: 3px solid black;
    background-color: white;
    position: absolute;
    float: right;
    right: 450px;
    top: 300px;
}
